.header{
    display: block;
    position: fixed;
    width: 100%;
    z-index: 3;
}
.body_container{
    display: block;
    top: 40%;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
}
.main-navbar{
    background-color: #d2232a;
}

.main-content{
    .content-inner {
        min-height: calc(100vh - 6.6rem);
    }
}
.sidebar {
    &+.main-content {
        margin-left: 14.2rem;
        transition: all 400ms ease;
    }
}

.sidebar-mini {
    &+.main-content {
        margin-left: 10.2rem;
        transition: all 400ms ease;
    }
}