.sidebar {
    display: block;
    position: fixed;
    width: 100%;
    max-width: 14.2rem;
    top: 0;
    bottom: 0;
    -webkit-transition: var(--sidebar-transition);
    -o-transition: var(--sidebar-transition);
    transition: var(--sidebar-transition);
    -webkit-transition-duration: var(--sidebar-transition-duration);
    -o-transition-duration: var(--sidebar-transition-duration);
    transition-duration: var(--sidebar-transition-duration);
    -webkit-transition-timing-function: var(--sidebar-transition-function-ease);
    -o-transition-timing-function: var(--sidebar-transition-function-ease);
    transition-timing-function: var(--sidebar-transition-function-ease);
    z-index: 910;
    background-color: #fff;
    color: var(--bs-primary);
    -webkit-box-shadow: 0 0 30px rgba(var(--bs-primary-rgb), 0.05);
    box-shadow: 0 0 30px rgba(var(--bs-primary-rgb), 0.05);
}

.sidebar .sidebar-toggle {
   
  
   
    color: #fff;
    cursor: pointer;
    padding: 0.2rem;
    position: absolute;
    right: -6px;
    top: 16px;
}


.sidebar-mini {
    display: block;
    position: fixed;
    width: 100%;
    max-width: 10.2rem;
    top: 0;
    bottom: 0;
    z-index: 910;
    background-color: #fff;
    color: var(--bs-primary);
    -webkit-box-shadow: 0 0 30px rgba(var(--bs-primary-rgb), 0.05);
    box-shadow: 0 0 30px rgba(var(--bs-primary-rgb), 0.05);
}

.sidebar-list-itme{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
}

